go 1.18

use (
	./api
	./backends/ebpf
	./backends/iptables
	./backends/ipvs-as-sink
	./backends/nft
	./backends/userspacelin
	./backends/windows/kernelspace
	./backends/windows/userspace
	./client
	./cmd
	./examples/iptables-extip
	./examples/pipe-exec
	./examples/print-state
	./examples/userspace-proxier
	./server
)
