apiVersion: apps/v1
kind: DaemonSet
metadata:
  creationTimestamp: null
  labels:
    app: kpng
  name: kpng
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app: kpng
  template:
    metadata:
      labels:
        app: kpng
    spec:
      nodeSelector:
        kube-proxy: v2
      serviceAccountName: kube-proxy
      hostNetwork: true
      # so that kpng always runs on the controlplane nodes...
      tolerations:
      - operator: "Exists"
        effect: "NoSchedule"
      containers:
      # We'll sed-replace this with a valid kpng image at creat time
      - image: KPNG_IMAGE
        name: kpng
        volumeMounts:
        - name: empty
          mountPath: /k8s
        - name: host
          mountPath: /host-etc/
        - name: kubelet
          mountPath: /var/lib/kubelet/
        args:
        - kube
        - to-api
        - --listen=unix:///k8s/proxy.sock
        env:
        - name: KUBECONFIG
          value: /host-etc/kubernetes/kubelet.conf
      - image: mcluseau/kpng
        name: kpng-nftables
        securityContext:
          capabilities:
           add:
           - NET_ADMIN
        volumeMounts:
        - name: empty
          mountPath: /k8s
        - name: modules
          mountPath: /lib/modules
          readOnly: true
        - name: host
          mountPath: /host-etc/
        - name: kubelet
          mountPath: /var/lib/kubelet/
        command:
        - kube-proxy-nftables
        - --target=unix:///k8s/proxy.sock
        #- --v=2
        #- --dry-run
      volumes:
      - name: empty
        emptyDir: {}
      - name: modules
        hostPath:
          path: /lib/modules
      - name: host
        hostPath:
          path: /etc/
      - name: kubelet
        hostPath:
          path: /var/lib/kubelet/
