apiVersion: apps/v1
kind: DaemonSet
metadata:
  creationTimestamp: null
  labels:
    app: kpng
  name: kpng
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app: kpng
  template:
    metadata:
      labels:
        app: kpng
    spec:
      nodeSelector:
        kube-proxy: v2
      serviceAccountName: kube-proxy
      hostNetwork: true
      # so that kpng always runs on the controlplane nodes...
      tolerations:
      - operator: "Exists"
        effect: "NoSchedule"
      containers:
      # We'll sed-replace this with a valid kpng image at creat time
      - image: KPNG_IMAGE
        name: kpng
        volumeMounts:
        - name: empty
          mountPath: /k8s
        - name: kube-proxy
          mountPath: /var/lib/kube-proxy
        args:
        - kube
        - --kubeconfig=/var/lib/kube-proxy/kubeconfig.conf
        - --server=https://kind-control-plane:6443
        - to-api
        - --listen=unix:///k8s/proxy.sock
      - image: mcluseau/kpng
        name: kpng-nftables
        securityContext:
          capabilities:
           add:
           - NET_ADMIN
        volumeMounts:
        - mountPath: /var/lib/kube-proxy
          name: kube-proxy
        - name: empty
          mountPath: /k8s
        - name: modules
          mountPath: /lib/modules
          readOnly: true
        command:
        - kube-proxy-nftables
        - --target=unix:///k8s/proxy.sock
        #- --v=2
        #- --dry-run
      volumes:
      - name: empty
        emptyDir: {}
      - name: modules
        hostPath:
          path: /lib/modules
      - configMap:
          defaultMode: 420
          name: kube-proxy
        name: kube-proxy
