name: e2e tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  GO_VERSION: "1.17.3"

jobs:
  setup:
    name: setup
    runs-on: ubuntu-latest
    steps:
    - name: setup Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ env.GO_VERSION }}
      id: go

    - name: Install dependencies
      run: |
        go version
        go get -u golang.org/x/lint/golint

  e2e:
    name: e2e
    needs: setup
    runs-on: ubuntu-latest
    timeout-minutes: 100
    strategy:
      fail-fast: false
      matrix:
        ipFamily: ["ipv4", "ipv6", "dual"]
        backend: ["iptables", "nft", "ipvs"]
    env:
      JOB_NAME: "kpng-e2e-${{ matrix.ipFamily }}-${{ matrix.backend }}"
      IP_FAMILY: ${{ matrix.ipFamily }}
      BACKEND: ${{ matrix.backend }}
    steps:
    - name: checkout
      uses: actions/checkout@v2
    
    - name: run e2e tests
      run: ./hack/test_e2e.sh -i ${{ env.IP_FAMILY }} -b ${{ env.BACKEND }} -c

    - name: Export logs
      if: always()
      run: |
        ./hack/e2e_export_logs.sh

    - name: Upload Junit Reports
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: kind-junit-${{ env.JOB_NAME }}-${{ github.run_id }}
        path: './hack/temp/e2e/artifacts/reports/*.xml'

    - name: Upload logs
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: kind-logs-${{ env.JOB_NAME }}-${{ github.run_id }}
        path: ./hack/temp/e2e/artifacts/logs/

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v2
      if: always()
      with:
        report_paths: './hack/temp/e2e/artifacts/reports/*.xml'
